before_deploy:
- wget https://github.com/jgm/pandoc/releases/download/1.19.1/pandoc-1.19.1-1-amd64.deb
  -O $TRAVIS_BUILD_DIR/pandoc.deb
- sudo dpkg -i $TRAVIS_BUILD_DIR/pandoc.deb
- rm $TRAVIS_BUILD_DIR/pandoc.deb
- pandoc --from=markdown --to=rst --output=$TRAVIS_BUILD_DIR/README.rst README.md
deploy:
- provider: releases
  skip_cleanup: true
  api_key:
    secure: XC0G/P4lGlW5/AjTZKcMxH9sTo2Jmht/R4nJotB0dkLkUVYk6mKuc8ibsG8jmFOvDSo4DpbNGjqot4HhpOQxGG9Lm5eak+cYUt/AHtjG0FB/0RX7rVbDTcCZYSN6i6CLM/SKYIeFwBcZzip5CadvRFGpLhNq7HPdcG/Lar5IpgND/T5yiO1K7aUaSVPyoWsPYpbQb/MOae36biJ7I7tMOKTGOeR0LdaHtHiHnxGlj96aZjvEW9BFxQlr+vm+2irvXPw0em/vgPcE/fJrkh3DZfSGVJrQyZA52J+EHqosqaGmdn7WERGj+04E+khP5NBABJNr2T6nH2bch5V6B+F/z6hgl4CTJ8Ob6ja3UuqCRveobboz5XPG527clgkVQOXImH6Q5im16TPJ//pdf/Rwcz5wXicigyjMERX8iHug+hWQ3vN/wu6mYMbKQld2Dhg7bu25ZmpL92a3dQAj5hageDPeAzGTmuyowoPYd4ojc1dZw1ciKXmm3lw8H4ZYAqBUOBA1sHTiE9tTjk7x5qjaBTeIcvxyMP2VIPNjZVEpVLjMX58wYnsE7eVm1G1wP52EaGtEOenJHzf6QbXwU3jbK1Xs8Jhf6SV59X5LRJbd+crT/M9j13IthA6lvlZSA9A7QNgTgAv74KL5m0IndC0pJ0k6ccxCLIzZ/GR2A+M56Gc=
  file:
  - LICENSE
  - README.md
  - setup.py
  - basescript/basescript.py
  - basescript/__init__.py
  - basescript/log.py
  - basescript/utils.py
  - examples/adder.py
  - examples/helloworld.py
  name: basescript-0.3.5
  tag_name: 0.3.5
  true:
    repo: deep-compute/basescript
- provider: pypi
  distributions: sdist bdist_wheel
  server: https://test.pypi.org/legacy/
  skip_cleanup: true
  user: deepcompute
  password:
    secure: fkHbFReSrTMDhMP1T26rlk0jVwmWyz8AkJqjThLWd0JBzxpAzLpeDCweCFuJk9hk1bnVnbJN/SgRBcRyYDkGCrarEtu3WkesGnIaqFKbMnu5Zwytex3ghPDK4ZK6+GVYSyljbYJUYXDZLMRoumiMOm7IHGVZ8soA02XNy7lBe36o5Dj3QfpRGUZLb2/nbMWIBvltecuhMk66yWKkSlwy0RjsOTn9XwjtTr5hGC6XD9kdC6NUeK6eSmdU/pa6DyOVSoKXEBims100g4gfOck5P8gXq8ssGVnWDkU9pvTKz085ayeepVDMygI5xug1U2zM3dTvTsRnsjr3B4FsAewfc9uh/sfFpr3v2oOIdUARf2sphJEja+0Z606s9DfxFMWHopouG9JDmzPwZBJNhJRIVW93VfODsUPejKtWJd259SfNRioj+ORP4b7wVQVfjvZM5CifDKrlMTBp1adt4bE8C/DepcezwgKLjRiGU0N0ndg7oJ9XcxUppzOwtEAPx0rLymWCz03O2gCXbr5NrtFZ/kbzPpMhDW1cnSW8zTzSQpzpXrqj5la+KIBynIp+EQZdxvM3NOyHFkpswOr1bsaFSmJ96ejrohIUq95FamQI6l8yo8iJiqROTLw6YUbcLa+F8qEP8ZdthPv98uV0ZAddduO9nysWzu2Hit3bXT4dQ3U=
  true:
    branch: master
    tags: false
- provider: pypi
  distributions: sdist bdist_wheel
  skip_cleanup: true
  user: deepcompute
  password:
    secure: fkHbFReSrTMDhMP1T26rlk0jVwmWyz8AkJqjThLWd0JBzxpAzLpeDCweCFuJk9hk1bnVnbJN/SgRBcRyYDkGCrarEtu3WkesGnIaqFKbMnu5Zwytex3ghPDK4ZK6+GVYSyljbYJUYXDZLMRoumiMOm7IHGVZ8soA02XNy7lBe36o5Dj3QfpRGUZLb2/nbMWIBvltecuhMk66yWKkSlwy0RjsOTn9XwjtTr5hGC6XD9kdC6NUeK6eSmdU/pa6DyOVSoKXEBims100g4gfOck5P8gXq8ssGVnWDkU9pvTKz085ayeepVDMygI5xug1U2zM3dTvTsRnsjr3B4FsAewfc9uh/sfFpr3v2oOIdUARf2sphJEja+0Z606s9DfxFMWHopouG9JDmzPwZBJNhJRIVW93VfODsUPejKtWJd259SfNRioj+ORP4b7wVQVfjvZM5CifDKrlMTBp1adt4bE8C/DepcezwgKLjRiGU0N0ndg7oJ9XcxUppzOwtEAPx0rLymWCz03O2gCXbr5NrtFZ/kbzPpMhDW1cnSW8zTzSQpzpXrqj5la+KIBynIp+EQZdxvM3NOyHFkpswOr1bsaFSmJ96ejrohIUq95FamQI6l8yo8iJiqROTLw6YUbcLa+F8qEP8ZdthPv98uV0ZAddduO9nysWzu2Hit3bXT4dQ3U=
  true:
    branch: master
    tags: true
install:
- pip install .
- pip install unittest2
language: python
python:
- '2.7'
script:
- docker run -v $(pwd):/app deepcompute/black:python-black-latest --check .
- echo "No tests"
